.clouds{
    background: #b8d2f7;
    background: linear-gradient(to right, #f2f6fc, #b8d2f7);
}

.clear{
    background: #f8ebae;
    background: linear-gradient(to right, #fcf9f2, #f8ebae);
}

.thunderstorm{
    background: #E6DADA;  
    background: linear-gradient(to left, #274046, #E6DADA); 

}

.rain{
    background: #076585;  
    background: linear-gradient(to right, #fff, #076585); 
}

.snow{
    background: #8e9eab;  
    background: linear-gradient(to right, #eef2f3, #8e9eab);    
}

.smoke{
    background: #abbaab;  
    background: linear-gradient(to right, #ffffff, #a39999);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    font-family: monospace;
}

.monospace{
    font-family: monospace;
}

.title{
    position: absolute;
    font-size: 100px;
    width: 100%;
    text-align: center;
    margin: 20px;
}
.location-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

#background{
    height: 100%;
}

.location-field{
    font-family: monospace;
    border: none;
    appearance: none;
    background: #f2f2f2;
    padding: 15px;
    border-radius: 5px;
    width: 60vw;
    text-align: center;
    outline: none;
    font-size: 60px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.submit-location-form{
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    font-family: monospace;
    font-size: 30px;
    padding: 10px;
    border: 1px solid transparent;
    appearance: none;
    border-radius: 5px;
    transition: 0.3s;
}

.submit-location-form:hover{
    outline: black;
    border-color: black;
}

.location-field:focus::placeholder{
    color: transparent;
}

.location-field::placeholder{
    color: rgba(71, 71, 71, 0.7);
    transition: color 0.3s ease;
}

.location-text{
    font-size: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.weather-text{
    font-size: 100px;
}

.temp-unit{
    font-size: 0.5em;
    letter-spacing: .07em;
}

.detail-weather-info{
    margin: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    letter-spacing: -1.5px;
}

.weather-info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.weather-container{
    display: none;
}

.error{
    font-size: 20px;
    height: 20px;
    color:red;
}